<div class="details-content">
    <p class="det-header">Add Address</p>
    <hr class="line-break">
    <div class="break2"></div>
    <div class="field">
        <input type="text" class="field-value" id="address" placeholder="Enter New Address" name="address">
    </div>
    <div class="break2"></div>
    <div class="break2"></div>
    <div class="buttons">
        <button class="btn" id="add" disabled><strong>Add Address</strong></button>
        <button class="btn" id="cancel"><strong>Cancel</strong></button>
    </div>
</div>