<div class="details-content">
    <p class="det-header">Add Contact Number</p>
    <hr class="line-break">
    <div class="break2"></div>
    <div class="field">
        <input type="text" class="field-value" id="number" placeholder="Enter New Contact Number" name="number">
    </div>
    <div class="break2"></div>
    <div class="break2"></div>
    <div class="buttons">
        <button class="btn" id="add" disabled><strong>Add Number</strong></button>
        <button class="btn" id="cancel"><strong>Cancel</strong></button>
    </div>
</div>