<div class="details-content">
    <p class="det-header">Add ID</p>
    <hr class="line-break">
    <div class="break2"></div>
    <div class="field">
        <select class="field-name" id="category">
            <option value="sc" selected>Senior Citizen</option>
            <option value="pwd">PWD</option>
        </select>
        <input type="text" class="field-value" id="idnum" placeholder="Enter New ID Number" name="idnum">
    </div>
    <div class="break2"></div>
    <div class="break2"></div>
    <div class="buttons">
        <button class="btn" id="add" disabled><strong>Add ID</strong></button>
        <button class="btn" id="cancel"><strong>Cancel</strong></button>
    </div>
</div>