<div class="details-content">
    <p class="det-header">My Addresses</p>
    <hr class="line-break">
    <div class="break2"></div>
    <div class="field">
        <div class="field-name"> <img src="images/house.png" width="53" height="53"> </div>
        <p class="field-value">{{address}}</p>
        <div class="buttons modify">
            <button class="modify-btn"><strong>Edit</strong></button>
            <button class="modify-btn" disabled><strong>Delete</strong></button>
        </div>
    </div>
    <div class="break2"></div>
    <div class="break2"></div>
    <div class="break2"></div>
    <div class="buttons">
        <button class="btn"><strong>Add New Address</strong></button>
    </div>
</div>