<div class="details-content">
    <p class="det-header">My Contact Numbers</p>
    <hr class="line-break">
    <div class="break2"></div>

    <div id="numbers">
        {{#if disableDel}}
            {{#each contact}}
                <div class="field">
                    <div class="field-name"> <img src="images/phone-w.png" width="53" height="53"> </div>
                    <p class="field-value">{{this}}</p>
                    <div class="buttons modify">
                        <button class="modify-btn edit"><strong>Edit</strong></button>
                        <button class="modify-btn hide save" disabled><strong>Save</strong></button>
                        <button class="modify-btn del" disabled><strong>Delete</strong></button>
                    </div>
                </div>
                <div class="break2"></div>
            {{/each}}
        {{else}}
            {{#each contact}}
                <div class="field">
                    <div class="field-name"> <img src="images/phone-w.png" width="53" height="53"> </div>
                    <p class="field-value">{{this}}</p>
                    <div class="buttons modify">
                        <button class="modify-btn edit"><strong>Edit</strong></button>
                        <button class="modify-btn hide save" disabled><strong>Save</strong></button>
                        <button class="modify-btn del"><strong>Delete</strong></button>
                    </div>
                </div>
                <div class="break2"></div>
            {{/each}}
        {{/if}}
    </div>
    <div class="break2"></div>
    <div class="break2"></div>
    <div class="buttons">
        <button class="btn" id="add"><strong>Add New Contact Number</strong></button>
    </div>
</div>