<div class="footer">
    <div class="tabs-container">
        <a href="/menu" class="tab">Menu</a>
        <a href="/orderhistory" class="tab">Orders</a>
        <a href="/about" class="tab">About</a>
        <a href="/contact" class="tab">Contact</a>
    </div>

    <a href="/" class="logo"><img src="/images/logo.png" width="60" height="60"></a>

    <div class="follow-us-container">
        <div class="label">Follow us for updates:</div>
        <div class="socmed-icon-container">
            <a href="https://www.facebook.com/TheHungrySibs" class="socmed-icon"><img src="/images/fb-w.png" width="40" height="40"></a>
            <a href="https://www.instagram.com/thehungrysibsph/" class="socmed-icon"><img src="/images/instagram-w.png" width="40" height="40"></a>
            <a href="https://twitter.com/thehungrysibs" class="socmed-icon"><img src="/images/twitter-w.png" width="40" height="40"></a>
        </div>
    </div>
</div>