<nav class="navbar">
<ul class="left">
    <li class="left-list-item containter-icon">
        <a class="icon" href="/home"><img class="primary-icon" src="/images/logo.png"></a>
    </li>
    <li class="left-list-item">
        <div id="searchbar">
            <input id="searchbar-input" type="text" placeholder="Search for your favorite dish"/>
            <img src="/images/search.png" id="searchicon" width="18" height="18">
        </div>
    </li>
</ul>

<ul class="right" id="right">
    <div class="right-text-container" id="right-text-container">
        <li class="right-list-item text">
            <a class="text" href="/menu">Menu</a>
        </li>
        <li class="right-list-item text">
            <a class="text" href="/orderhistory">Orders</a>
        </li>
        <li class="right-list-item text">
            <a class="text" href="/about">About</a>
        </li>
        <li class="right-list-item text">
            <a class="text" href="/contact">Contact</a>
        </li>
        <li class="right-list-item text">
            <a class="text" href="/profile">My Account</a>
        </li>
    </div>
    <div class="right-list-item bag-icon">
        <div class="icon bag" id="bag-icon"><img class="primary-icon" src="/images/bag.png"></div>
    </div>
</ul>



<div class="menu" id="toggle-button">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
</div>
</nav>