<div class="product-container">
    <img src="{{this.image}}">
    <div class="caption-container">
        <h6 class="product-name">{{this.name}}</h6>
        <h6 class="product-price">₱ {{this.price}}.00</h6>
        <div class="order-button"><a href="/addtobag">Order</a></div>
    </div>
</div>