<div class="details-content">
    <p class="det-header">My Profile</p>
    <hr class="line-break">
    <div class="break2"></div>
    <form action=submitFunc()>
        <div class="field">
            <p class="field-name">First Name</p>
            <p class="field-value" id="firstName">{{first}}</p>
        </div>
        <div class="break2"></div>
        <div class="field">
            <p class="field-name">Last Name</p>
            <p class="field-value" id="lastName">{{last}}</p>
        </div>
        <div class="break2"></div>
        <div class="field">
            <p class="field-name">Email</p>
            <p class="field-value" id="email">{{email}}</p>
        </div>
        <div class="break2"></div>
        <div class="break2"></div>
        <div class="buttons">
            <button type="button" class="btn" id="update"><strong>Update Details</strong></button>
            <button type="submit" class="btn hide" id="save"><strong>Save Changes</strong></button>
            <button type="button" class="btn" id="changepw"><strong>Change Password</strong></button>
        </div>
    </form>
</div>