<div class="topbar-container" id="topbar-container">
    <a class="topbar-item" href="#main">Main Dishes</a>
    <a class="topbar-item" href="#snack">Snacks</a>
    <a class="topbar-item" href="#dnd">Desserts & Drinks</a>
    <a class="topbar-item" href="#bundle">Bundle Meals</a>
</div>