<div class="break1"></div>

<div class="heading">
    <hr class="heading-line">
    <p class="heading-text">About <br> the Hungry Sibs</p>
    <hr class="heading-line">
</div>

<div class="break2"></div>

<div class="content">
    <img class="about-pic" src="images/aboutpic-1.jpg"/>
    <div class="text-container">
        <p class="text-title">History</p>
        <div class="break3"></div>
        <p class="text-proper"><strong>It all started in the home of 4 siblings who loved to binge-eat at midnights during the quarantine.
            The food they make was loved by everyone in their family and so they thought, “Why not share good food to other people?”
            Their passion for cooking and eating turned into a business and lead to the launching of The Hungry Sibs in May 2020. <br><br>
            Having over thousands of orders to date, The Hungry Sibs’ quality homemade dishes surely captivate not only the palates
            but also the hearts of their customers. Each dish is freshly and generously made with the finest ingredients and yet 
            sold at a very affordable price, leaving the customers wanting more. It also offers food bundle deals that are perfect to serve for any celebration. 
            <br><br>
            The Hungry Sibs truly creates a happy atmosphere in the homes of their customers by providing satisfying dishes that everyone can enjoy!</strong></p>
    </div>
</div>

<div class="break2"></div>
<div class="break2"></div>

<div class="content">
    <div class="text-container">
        <p class="text-title">Vision</p>
        <div class="break3"></div>
        <p class="text-proper"><strong>The Hungry Sibs aims to be part of every household by offering luscious homemade dishes that 
            are made with the finest ingredients, yet sold at very affordable prices. These specialty products, each made with their own twist, 
            will surely satisfy any cravings and bring nothing but joy to the homes of their customers.</strong></p>
    </div>
    <img class="about-pic" src="images/aboutpic-2.jpg"/>
</div>
        
<div class="break2"></div>
<div class="break2"></div>

<div class="heading">
    <hr class="heading-line">
    <p class="heading-text">Meet the Developers</p>
    <hr class="heading-line">
</div>

<div class="content wider">
    <div class="person">
        <div class="break3"></div>
        <img class="person-pic" src="images/hannah.jpg"/>
        <p class="person-name">Hannah Fong</p>
        <p class="person-section"><strong>CCAPDEV S11</strong></p>
    </div>

    <div class="person">
        <div class="break3"></div>
        <img class="person-pic" src="images/aless.jpg"/>
        <p class="person-name">Alessandra Gomez</p>
        <p class="person-section"><strong>CCAPDEV S11</strong></p>
    </div>

    <div class="person">
        <div class="break3"></div>
        <img class="person-pic" src="images/ibz.jpg"/>
        <p class="person-name">Ibrahim Kahil</p>
        <p class="person-section"><strong>CCAPDEV S12</strong></p>
    </div>
</div>

<div class="break2"></div>
<div class="break2"></div>

<div class="heading">
    <hr class="heading-line">
    <p class="heading-text">NPM Packages and<br>Third Party Libraries</p>
    <hr class="heading-line">
</div>

<div class="content">
    <div class="text-container">
    {{#each libraries}}
        <p class="text-proper"><strong>{{this}}</strong></p>
        <div class="break3"></div>
    {{/each}}
        <p class="text-proper"><strong>Bootstrap v5.1</strong></p>
    </div>
</div>