<div class="break"></div>
  
  <div class="container overflow-hidden mb-5"> 
    <div class="row justify-content-center mb-5">
      <div class="col-auto">
        <div class="card mt-5 ms-4  w-20" style="box-shadow: 0px 4px 5px rgb(165, 165, 165); width: 18rem; border-radius: 25px; background-color: #F8C922">
          <img class="card-img-top" src="{{this.productdetails.image}}" alt="Card image cap" style="height: 11.5rem; border-radius: 25px;">
          <div class="card-body">
            <div>
              <h5 class="card-title fw-bold mb-5 ms-2">{{this.productdetails.name}}</h5>     
              <div>
                <h5 class="mb-3 ms-2 fw-bold me-3" style="float:left; font-size: x-large;" id="price">₱{{this.productdetails.price}}</h5>
                <button class="btn btn-dark rounded-circle ms-1 me-2" id="addbtn" style="float:right"></button>
                <h5 class="mb-3 fw-bold mx-2" id="quantity" style="float:right">1</h5>
                <button class="btn btn-dark rounded-circle ms-4 me-1" id="subtractbtn" style="float:right"></button>
              </div>    
            </div>
            <div class="text-center">
              <a href="/menu" class="btn btn-danger mt-1 mb-2 fw-bold text-center rounded-pill" id="addtobag">Add to Bag</a>
            </div>
            <div class="text-center">
              <a href="/menu" class="btn btn-outline-light mt-1 mb-2 fw-bold text-center rounded-pill" id="backtomenu">Back to Menu</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-auto col-md-auto col-lg-5">
        <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
          <div class="card-body mx-4 my-4">
            <div>
              <h5 class="card-title fw-bold mb-3">Size</h3>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Small (2-3 pax)
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Medium (4-5 pax)
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Large (10-12 pax)
                </label>
              </div>
            </div>
            
            <div>
              <h5 class="card-title fw-bold mt-5 mb-3">Add-Ons</h3>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Garlic Bread
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Parmesan Garlic Bread
                </label>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>