<div class="break"></div>
  
    <div class="container overflow-hidden"> 
        <div class="row justify-content-center mb-5">

            <div class="col-sm-auto col-md-auto col-lg-6" >
                <div class="card mt-5 ms-4 rounded-pill" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: #F8C922">
                    <div class="card-body mx-4">
                        <div class="row">
                            <div class="col" >
                                <h3 class="card-title fw-bold text-center" style="font-size: 1.8rem">ORDER CONFIRMED!</h3>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 my-4">
                        <div class="row mb-2" style="border-bottom: 2px solid black;">
                            <div class="col">
                                <h5 class="card-title fw-bold mb-3" >Estimated Order Arrival Time</h3>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col">
                                <h3 class="fw-bold">9:45 PM - 9:55 PM</h3>
                            </div>
                        </div>

                        
                    </div>
                </div>
                
                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 mt-4 mb-2">
                        
                        <div class="row mb-2" style="border-bottom: 2px solid black;">
                            <div class="col ">
                                <h5 class="card-title fw-bold mb-3">Order Summary</h5>
                            </div>
                        </div>

                        <div class="row mx-1 my-2" id="orders">
                            <div class="col-auto my-2 text-start">
                                <p>x1 Lasagna</p>
                            </div>
                            <div class="col my-2 text-end">
                                <p>₱180</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1 mt-3" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Subtotal</p>
                            </div>
                            <div class="col text-end">
                                <p>₱180</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Delivery Fee</p>
                            </div>
                            <div class="col text-end">
                                <p>₱50</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1">
                            <div class="col">
                                <h4 class="text-start fw-bold">Total</h4>
                            </div>
                            <div class="col">
                                <h4 class="text-end fw-bold">₱230</h4>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 my-4">
                        
                        <div class="row mb-2" style="border-bottom: 2px solid black;">
                            <div class="col">
                                <h5 class="card-title fw-bold mb-3" >Order Details</h3>
                            </div>
                        </div>

                         <div class="row mx-1 mt-3" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Order ID:</p>
                            </div>
                            <div class="col text-end">
                                <p class="fw-bold">XXXXXXXX</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1 my-3 mb-5" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Delivery Address:</p>
                            </div>
                            <div class="col text-end">
                                <p class="fw-bold">17-2 Sandico St., Angeles City, Pampanga</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1 mt-3" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Contact Number:</p>
                            </div>
                            <div class="col text-end">
                                <p class="fw-bold">09274877316</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1 mt-4" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Payment Method:</p>
                            </div>
                            <div class="col text-end">
                                <p class="fw-bold">Cash on Delivery</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1 mt-4" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Additional Notes:</p>
                            </div>
                            <div class="col text-end">
                                <p class="fw-bold">Cash on Delivery</p>
                                
                            </div>
                        </div>

                       

                        

                    </div>
                </div>
            </div>


        </div>
    </div>