<div class="contact-container">
    <div class="title">
        <img src="images/wallpaper.png" width="100%">
    </div>

    <div class="body-container">
        <div class="left">
            <div class="statement">
                We'd love to hear your feedback. Send us a message!
            </div>

            <div class="fields-container">
                <div class="field">
                    <div class="label">Name</div>
                    <input type="text" id="name" placeholder="Full name">
                </div>

                <div class="field">
                    <div class="label">Telephone</div>
                    <input type="tel" id="telephone" placeholder="Telephone number">
                </div>

                <div class="field">
                    <div class="label">E-mail</div>
                    <input type="email" id="email" placeholder="E-mail address">
                </div>

                <div class="field">
                    <div class="label">Subject</div>
                    <input type="text" id="subject" placeholder="Subject">
                </div>

                <div class="field">
                    <div class="label">Message</div>
                    <textarea type="text" placeholder="Message"></textarea>
                </div>
            </div>

            <button type="button" action="#">Submit</button>
        </div>

        <div class="right">
            <div class="contact-details-container">
                <div class="header">Contact Details</div>
                <div class="content-container">
                    <a href="mailto:imperialph17@gmail.com" class="content">
                        <div class="icon"><img src="images/email.png" width="40" height="40"></div>
                        <div class="text no-space">imperialph17@gmail.com</div>
                    </a>

                    <div class="content">
                        <div class="icon"><img src="images/phone.png" width="40" height="40"></div>
                        <div class="text">+63 917 720 6430</div>
                    </div>
                </div>
            </div>

            <div class="follow-us-container">
                <div class="header">Follow Us!</div>
                <div class="content-container">
                    <a href="https://www.facebook.com/TheHungrySibs" class="content">
                        <div class="icon"><img src="images/fb.png" width="40" height="40"></div>
                        <div class="text">The Hungry Sibs</div>
                    </a>

                    <a href="https://www.instagram.com/thehungrysibsph/" class="content">
                        <div class="icon"><img src="images/instagram.png" width="40" height="40"></div>
                        <div class="text no-space">@TheHungrySibsPH</div>
                    </a>

                    <a href="https://twitter.com/thehungrysibs" class="content">
                        <div class="icon"><img src="images/twitter.png" width="40" height="40"></div>
                        <div class="text no-space">@TheHungrySibs</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
