<div class="break1"></div>

<div class="container">
    <div class="acc-details-list">
        <p id="mini-header">My Account</p>
        <ul class="list-proper">
            <li>
                <a class="account-details-nav" href="/profile">Profile</a>
            </li>
            <li>
                <a class="account-details-nav" href="/addresses">Addresses</a>
            </li>
            <li>
                <a class="account-details-nav" href="#">Contact Numbers</a>
            </li>
            <li>
                <a class="account-details-nav" href="/id">SC/PWD IDs</a>
            </li>
            <li>
                <a class="account-details-nav" href="/">Delete Account</a>
            </li>
            <li>
                <a class="account-details-nav" href="/">Log Out</a>
            </li>
        </ul>
    </div>

    <div class="details-content">
        <p class="det-header">My Contact Numbers</p>
        <hr class="line-break">
        <div class="break2"></div>
        <div class="field">
            <div class="field-name"> <img src="images/phone-w.png" width="53" height="53"> </div>
            <p class="field-value">09260716958</p>
            <div class="buttons modify">
                <button class="modify-btn"><strong>Edit</strong></button>
                <button class="modify-btn" disabled><strong>Delete</strong></button>
            </div>
        </div>
        <div class="break2"></div>
        <div class="break2"></div>
        <div class="break2"></div>
        <div class="buttons">
            <button class="btn"><strong>Add New Contact Number</strong></button>
        </div>
    </div>
</div>