<div class="break1"></div>

<div class="container">
    <div class="acc-details-list">
        <p id="mini-header">My Account</p>
        <ul class="list-proper">
            <li>
                <a class="account-details-nav" href="/profile">Profile</a>
            </li>
            <li>
                <a class="account-details-nav" href="/addresses">Addresses</a>
            </li>
            <li>
                <a class="account-details-nav" href="/contactnums">Contact Numbers</a>
            </li>
            <li>
                <a class="account-details-nav" href="#">SC/PWD IDs</a>
            </li>
            <li>
                <a class="account-details-nav" href="/">Delete Account</a>
            </li>
            <li>
                <a class="account-details-nav" href="/">Log Out</a>
            </li>
        </ul>
    </div>

    <div class="details-content">
        <p class="det-header">My Senior Citizen/PWD ID</p>
        <hr class="line-break">
        <div class="break2"></div>
        <div class="field">
            <p class="field-name">Senior Citizen</p>
            <p class="field-value">10-7121-657</p>
            <div class="buttons modify">
                <button class="modify-btn"><strong>Edit</strong></button>
                <button class="modify-btn" disabled><strong>Delete</strong></button>
            </div>
        </div>
        <div class="break2"></div>
        <div class="field">
            <p class="field-name">PWD</p>
            <p class="field-value">094-268</p>
            <div class="buttons modify">
                <button class="modify-btn"><strong>Edit</strong></button>
                <button class="modify-btn" disabled><strong>Delete</strong></button>
            </div>
        </div>
        <div class="break2"></div>
        <div class="break2"></div>
        <div class="break2"></div>
        <div class="buttons">
            <button class="btn"><strong>Add New ID</strong></button>
        </div>
    </div>
</div>