<div class="parent-container">
    <div class="child picture-container">
        <img src="images/welcome.png" style="width:100%">
        <div class="button-container"><a href="menu.html">View Menu</a></div>
    </div>    

    <div class="child slide-container">
        <div class="slide">
            <img src="images/1.png" style="width:100%">
        </div>

        <div class="slide">
            <img src="images/2.png" style="width:100%">
        </div>

        <div class="slide">
            <img src="images/3.png" style="width:100%">
        </div>
        <div class="button-container">
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>
    </div>

    <div class="child category-container">
        <div class="title-container">
            <div class="header">Menu</div>
            <div class="subheader">What are you craving for today?</div>
        </div>  

        <div class="icon-container">
            <div class="icon">
                <a href="menu.html#main"><img src="images/main.png" width="150" height="150"></a>
                <div class="label">Main Dishes</div>
            </div>

            <div class="icon">
                <a href="menu.html#snack"><img src="images/snack.png" width="150" height="150"></a>
                <div class="label">Snacks</div>
            </div>

            <div class="icon">
                <a href="menu.html#dnd"><img src="images/dnd.png" width="150" height="150"></a>
                <div class="label">Desserts & Drinks</div>
            </div>

            <div class="icon">
                <a href="menu.html#bundle"><img src="images/bundle.png" width="150" height="150"></a>
                <div class="label">Bundle Meals</div>
            </div>
        </div>
    </div>

    <div class="child order-container">
        <div class="title-container">Order arrives in just an hour!</div>
        
        <div class="content-container">
            <div class="description-container">
                <div class="header">We accept same day delivery orders!</div>
                <div class="subheader">Just give us 1-2 hours lead time and your food will be right at your doorstep!</div>
            </div>

            <div class="box-container">
                <div class="box">
                    <img src="images/order.png" width="66" height="66">
                    <div class="header">1. Order Your Food</div>
                    <div class="subheader">Place your order through this web app.</div>
                </div>

                <div class="box">
                    <img src="images/motor.png" width="66" height="66">
                    <div class="header">2. Delivery/Pickup</div>
                    <div class="subheader">Wait for the rider to arrive. For pickup, claim the food at your specified time.</div>
                </div>

                <div class="box">
                    <img src="images/spoonforknoshadow.png" width="66" height="66">
                    <div class="header">3. Enjoy Your Meal</div>
                    <div class="subheader">Indulge in our freshly baked food and don’t forget to share... or not!</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="child best-container">
        <div class="title-container">
            <div class="header">Best Sellers</div>
            <div class="subheader">Try our signature dishes!</div>
        </div>

        <div class="content-container">
            <a class="best" href="AddToBag.html">
                <img src="images/products/nacho-small.png" alt="nacho-small" width="230" height="200">
                <div class="name">Four Cheese Nacho Bake (Small)</div>
                <div class="price">₱ 395.0</div>
            </a>

            <a class="best" href="AddToBag.html">
                <img src="images/products/lasagna-medium.png" alt="lasagna-medium" width="230" height="200">
                <div class="name">Premium All Beef Lasagna (Medium)</div>
                <div class="price">₱ 795.00</div>
            </a>

            <a class="best" href="AddToBag.html">
                <img src="images/products/ribs-single.png" alt="ribs-single" width="230" height="200">
                <div class="name">Smoky Baby Back Ribs (Single Rack)</div>
                <div class="price">₱ 1195.00</div>
            </a>

            <a class="best" href="AddToBag.html">
                <img src="images/products/salmon-medium.png" alt="salmon-medium" width="230" height="200">
                <div class="name">Parmesan Baked Salmon (Medium)</div>
                <div class="price">₱ 1295.00</div>
            </a>
        </div>
    </div>  
</div>