@@ -0,0 +1,338 @@
<div class="category-container">    
    <div class="header-container" id="main"><h1 class="header">MAIN DISHES</h1></div>
    <div class="main-container">
        <div class="product-container">
            <img src="images/products/lasagna-small.png">
            <div class="caption-container">
                <h6 class="product-name">Premium All Beef Lasagna (Small)</h6>
                <h6 class="product-price">₱ 395.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/lasagna-medium.png">
            <div class="caption-container">
                <h6 class="product-name">Premium All Beef Lasagna (Medium)</h6>
                <h6 class="product-price">₱ 795.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/lasagna-large.png">
            <div class="caption-container">
                <h6 class="product-name">Premium All Beef Lasagna (Large)</h6>
                <h6 class="product-price">₱ 1450.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/ribs-half.png">
            <div class="caption-container">
                <h6 class="product-name">Smoky Baby Back Ribs (Half Rack)</h6>
                <h6 class="product-price">₱ 645.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/ribs-single.png">
            <div class="caption-container">
                <h6 class="product-name">Smoky Baby Back Ribs (Single Rack)</h6>
                <h6 class="product-price">₱ 1195.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/ribs-double.png">
            <div class="caption-container">
                <h6 class="product-name">Smoky Baby Back Ribs (Double Rack)</h6>
                <h6 class="product-price">₱ 2295.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/salmon-medium.png">
            <div class="caption-container">
                <h6 class="product-name">Parmesan Baked Salmon (Medium)</h6>
                <h6 class="product-price">₱ 1295.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/salmon-large.png">
            <div class="caption-container">
                <h6 class="product-name">Parmesan Baked Salmon (Large)</h6>
                <h6 class="product-price">₱ 2495.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/chicken-12.png">
            <div class="caption-container">
                <h6 class="product-name">Garlic Parmesan Wings (12 pcs.)</h6>
                <h6 class="product-price">₱ 450.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/chicken-24.png">
            <div class="caption-container">
                <h6 class="product-name">Garlic Parmesan Wings (24 pcs.)</h6>
                <h6 class="product-price">₱ 880.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>
        
    </div>
    
    <div class="header-container" id="snack"><h1 class="header">SNACKS</h1></div>
    <div class="main-container">
        <div class="product-container">
            <img src="images/products/nacho-small.png">
            <div class="caption-container">
                <h6 class="product-name">Four Cheese Nacho Bake (Small)</h6>
                <h6 class="product-price">₱ 395.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/nacho-medium.png">
            <div class="caption-container">
                <h6 class="product-name">Four Cheese Nacho Bake (Medium)</h6>
                <h6 class="product-price">₱ 790.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/nacho-large.png">
            <div class="caption-container">
                <h6 class="product-name">Four Cheese Nacho Bake (Large)</h6>
                <h6 class="product-price">₱ 1150.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/nacho-party.png">
            <div class="caption-container">
                <h6 class="product-name">Four Cheese Nacho Bake (Party)</h6>
                <h6 class="product-price">₱ 2295.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/potato-small.png">
            <div class="caption-container">
                <h6 class="product-name">Cheesy Bacon Baked Potatoes (Small)</h6>
                <h6 class="product-price">₱ 340.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/potato-medium.png">
            <div class="caption-container">
                <h6 class="product-name">Cheesy Bacon Baked Potatoes (Medium)</h6>
                <h6 class="product-price">₱ 680.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/potato-large.png">
            <div class="caption-container">
                <h6 class="product-name">Cheesy Bacon Baked Potatoes (Large)</h6>
                <h6 class="product-price">₱ 1295.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/belgian.png">
            <div class="caption-container">
                <h6 class="product-name">Parmesan Truffle Fries w/ Dip</h6>
                <h6 class="product-price">₱ 495.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/twister.png">
            <div class="caption-container">
                <h6 class="product-name">Twister Fries w/ Dip</h6>
                <h6 class="product-price">₱ 495.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>
    </div>

    <div class="header-container" id="dnd"><h1 class="header">DESSSERTS & DRINKS</h1></div>
    <div class="main-container">
        <div class="product-container">
            <img src="images/products/pbutter-6.png">
            <div class="caption-container">
                <h6 class="product-name">Reese's Chocochip Cookies (6 pcs.)</h6>
                <h6 class="product-price">₱ 250.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/pbutter-12.png">
            <div class="caption-container">
                <h6 class="product-name">Reese's Chocochip Cookies (12 pcs.)</h6>
                <h6 class="product-price">₱ 480.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/crinkles-10.png">
            <div class="caption-container">
                <h6 class="product-name">Chocolate Crinkles (10 pcs.)</h6>
                <h6 class="product-price">₱ 250.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/crinkles-20.png">
            <div class="caption-container">
                <h6 class="product-name">Chocolate Crinkles (20 pcs.)</h6>
                <h6 class="product-price">₱ 480.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/cake.png">
            <div class="caption-container">
                <h6 class="product-name">Belgian Chocolate Cake</h6>
                <h6 class="product-price">₱ 695.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/iced-tea.png">
            <div class="caption-container">
                <h6 class="product-name">Houseblend Iced Tea</h6>
                <h6 class="product-price">₱ 60.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/calamansi.png">
            <div class="caption-container">
                <h6 class="product-name">Calamansi Juice</h6>
                <h6 class="product-price">₱ 60.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/mango.png">
            <div class="caption-container">
                <h6 class="product-name">Mango Juice</h6>
                <h6 class="product-price">₱ 60.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/four-seasons.png">
            <div class="caption-container">
                <h6 class="product-name">Four Seasons Juice</h6>
                <h6 class="product-price">₱ 60.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>
    </div>

    <div class="header-container" id="bundle"><h1 class="header">BUNDLE MEALS</h1></div>
    <div class="main-container">
        <div class="product-container">
            <img src="images/products/bday-medium.png">
            <div class="caption-container">
                <h6 class="product-name">Birthday Combo (Medium)</h6>
                <h6 class="product-price">₱ 2550.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/party-medium.png">
            <div class="caption-container">
                <h6 class="product-name">Party Combo (Medium)</h6>
                <h6 class="product-price">₱ 1495.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/holiday-medium.png">
            <div class="caption-container">
                <h6 class="product-name">Holiday Combo (Medium)</h6>
                <h6 class="product-price">₱ 2450.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/fiesta-medium.png">
            <div class="caption-container">
                <h6 class="product-name">Fiesta Combo (Medium)</h6>
                <h6 class="product-price">₱ 3700.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/bday-large.png">
            <div class="caption-container">
                <h6 class="product-name">Birthday Combo (Large)</h6>
                <h6 class="product-price">₱ 4850.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/party-large.png">
            <div class="caption-container">
                <h6 class="product-name">Party Combo (Large)</h6>
                <h6 class="product-price">₱ 2795.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/holiday-large.png">
            <div class="caption-container">
                <h6 class="product-name">Holiday Combo (Large)</h6>
                <h6 class="product-price">₱ 4650.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>

        <div class="product-container">
            <img src="images/products/fiesta-large.png">
            <div class="caption-container">
                <h6 class="product-name">Fiesta Combo (Large)</h6>
                <h6 class="product-price">₱ 7100.00</h6>
                <div class="order-button"><a href="/addtobag">Order</a></div>
            </div>
        </div>
    </div>
</div>