<div class="break1"></div>

<div class="container">
    <div class="acc-details-list">
        <p id="mini-header">My Account</p>
        <ul class="list-proper">
            <li>
                <a class="account-details-nav" href="#">Profile</a>
            </li>
            <li>
                <a class="account-details-nav" href="/addresses">Addresses</a>
            </li>
            <li>
                <a class="account-details-nav" href="/contactnums">Contact Numbers</a>
            </li>
            <li>
                <a class="account-details-nav" href="/id">SC/PWD IDs</a>
            </li>
            <li>
                <a class="account-details-nav" href="/">Delete Account</a>
            </li>
            <li>
                <a class="account-details-nav" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
    
    <div class="details-content">
        <p class="det-header">My Profile</p>
        <hr class="line-break">
        <div class="break2"></div>
        <div class="field">
            <p class="field-name">First Name</p>
            <p class="field-value">{{first}}</p>
        </div>
        <div class="break2"></div>
        <div class="field">
            <p class="field-name">Last Name</p>
            <p class="field-value">{{last}}</p>
        </div>
        <div class="break2"></div>
        <div class="field">
            <p class="field-name">Email</p>
            <p class="field-value">{{email}}</p>
        </div>
        <div class="break2"></div>
        <div class="break2"></div>
        <div class="buttons">
            <button class="btn"><strong>Update Details</strong></button>
            <button class="btn"><strong>Change Password</strong></button>
        </div>
    </div>
</div>