<html>
    <head>
		<title>The Hungry Sibs</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="css/forms.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="css/register.css"/>
        <script type="text/javascript" src="js/register.js"></script>
    </head>

    <body>
        <div class="split left">
            <div class="centered">
              <img src="images/logo.png">
              <h1 id="welcome">Welcome Aboard!</h1>
              <p id="description">Fill in your account details to begin your Hungry Sibs journey.</p>
            </div>
          </div>
          
          <div class="split right">
              <div class="container">
                <h1 id="header">Register</h1>
                <form action="/addaccount" method="post">
                    <div class="two-fields">
                        <div class="field-one">
                            <label for="firstname"><b>First Name *</b></label><br>
                            <input type="text" placeholder="John" id="firstname" name="firstname" required>
                        </div>
                        <div class="field-two">
                            <label for="lastname"><b>Last Name *</b></label><br>
                            <input type="text" placeholder="Doe" id="lastname" name="lastname" required>
                        </div>
                    </div>

                    <div class="break"></div>

                    <label for="email"><b>Email *</b></label><br>
                    <input type="email" placeholder="johndoe@gmail.com" id="email" name="email" required>

                    <div class="break"></div>

                    <div class="two-fields">
                        <div class="field-one">
                            <label for="psw"><b>Password *</b></label><br>
                            <input type="password" id="psw" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="psw" required>
                        </div>
                        <div class="field-two">
                            <label for="confirmpsw"><b>Confirm Password *</b></label><br>
                            <input type="password" id="confirmpsw" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="confirmpsw" required>
                        </div>
                    </div>

                    <div id="password-conditions">
                        <p id="length" class="invalid">Password contains at least 8 characters</p>
                        <p id="uppercase" class="invalid">Password contains at least one uppercase letter</p>
                        <p id="special" class="invalid">Password contains at least one special character</p>
                        <p id="number" class="invalid">Password contains at least one number</b></p>
                        <p id="match" class="invalid">Passwords are matching</b></p>
                    </div>

                    <div class="break"></div>

                    <label for="contactno"><b>Contact Number *</b></label><br>
                    <input type="text" id="contactno" placeholder="09xxxxxxxxx" pattern="^\d+$" minlength="11" name="contactno" required>

                    <div class="break"></div>

                    <label for="address"><b>Complete Address *</b></label><br>
                    <input type="text" id="address" placeholder="Address" name="address" required>

                    <div class="break"></div>

                    <div class="two-fields">
                        <div class="field-one">
                            <label for="scid"><b>Senior Citizen ID Number</b></label><br>
                            <input type="text" placeholder="Enter ID Number" id="scid" name="scid">
                        </div>
                        <div class="field-two">
                            <label for="pwdid"><b>PWD ID Number</b></label><br>
                            <input type="text" placeholder="Enter ID Number" id="pwdid" name="pwdid">
                        </div>
                    </div>

                    <div class="break"></div>

                    <p id="error">{{error_msg}}</p>

                    <button type="submit" id="reg-submit" disabled><strong>Register</strong></button>
                    
                    <p>Already a member? <a href="/signin">Sign In</a></p>
                </form>
            </div>
          </div>
    </body>
</html>