@font-face{
    src: url("../fonts/BERNIERRegular-Regular.ttf");
    font-family: bernier;
}

@font-face{
    src: url("../fonts/Poppins-Bold.ttf");
    font-family: poppinsbold;
}

@font-face{
    src: url("../fonts/Inter-Bold.ttf");
    font-family: interbold;
}

@font-face{
    src: url("../fonts/WorkSans-Bold.ttf");
    font-family: worksansbold;
}

@font-face{
    src: url("../fonts/Inter-Regular.ttf");
    font-family: interregular;
}

@font-face{
    src: url("../fonts/Inter-Medium.ttf");
    font-family: intermedium;
}

@font-face{
    src: url("../fonts/Poppins-Regular.ttf");
    font-family: poppins;
}

@font-face{
    src: url("../fonts/Poppins-Medium.ttf");
    font-family: poppinsmedium;
}