@font-face{
    src: url(fonts/Poppins-Regular.ttf);
    font-family: poppins;
}

@font-face{
    src: url(fonts/Poppins-Bold.ttf);
    font-family: poppinsbold;
}

.break {
    clear: both;
    height: 20px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #c93020;
}

.right {
    right: 0;
    background-color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

.centered img {
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
}

#welcome {
    color: white;
    font-family: poppinsbold;
}

p {
    font-family: poppins;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

#description {
    color: white;
    font-size: 20px;
}

#header {
    font-family: poppinsbold;
    text-align: left;
}

label, input {
    font-family: poppins;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

a {
    color: #c93020;
    font-family: poppinsbold;
    font-size: 15px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: black;
}

button {
    background-color: #ffc700;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 100%;
    min-height: 50.5px;
}

button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}